name: emulated
on:
  push: {}
  pull_request: {}

defaults:
  run:
    shell: bash

jobs:
  s390x:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: uraimo/run-on-arch-action@v2.1.1
      with:
        arch: s390x
        distro: ubuntu20.04
        githubToken: ${{ github.token }}
        install: |
          apt-get update -y
          apt-get install -y ghc libghc-tasty-quickcheck-dev libghc-tasty-smallcheck-dev libghc-tasty-hunit-dev
        run: |
          ghc --version
          ghc --make -itest-suite -o Test test-suite/Test.hs +RTS -s
          ./Test +RTS -s

  armv7:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: uraimo/run-on-arch-action@v2.1.1
      with:
        arch: armv7
        distro: ubuntu20.04
        githubToken: ${{ github.token }}
        install: |
          apt-get update -y
          apt-get install -y ghc libghc-tasty-quickcheck-dev libghc-tasty-smallcheck-dev libghc-tasty-hunit-dev
        run: |
          ghc --version
          ghc --make -itest-suite -o Test test-suite/Test.hs +RTS -s
          ./Test +RTS -s

  aarch64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: uraimo/run-on-arch-action@v2.1.1
      with:
        arch: aarch64
        distro: ubuntu20.04
        githubToken: ${{ github.token }}
        install: |
          apt-get update -y
          apt-get install -y build-essential curl libgmp-dev libnuma-dev
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | BOOTSTRAP_HASKELL_NONINTERACTIVE=1 sh
        run: |
          source ~/.ghcup/env
          cabal v2-test all --test-show-details=direct

  i386:
    runs-on: ubuntu-latest
    container:
      image: i386/ubuntu:bionic
    steps:
    - name: Install
      run: |
        apt-get update -y
        apt-get install -y build-essential curl libgmp-dev
        curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | BOOTSTRAP_HASKELL_NONINTERACTIVE=1 sh
    - uses: actions/checkout@v1
    - name: Test
      run: |
        source ~/.ghcup/env
        cabal v2-test all --test-show-details=direct
